[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MGDrivE"]
	path = MGDrivE
	url = https://github.com/marshalllab/mgdrive
	subdir = MGDrivE
